*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

h1{
    color: navy;
    font-size: 32px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 80px;
    left: 50px;
}

p{
    width: 500px;
    height: 200px;
    color: black;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 160px;
    left: 50px;
}

.esquerda{
     background: white;
     width: 500px;
     height: 200px;
}

picture{
         width: 1000px;
         height: 700px;
         position: absolute;
         top: 500px;
         left: 280px;              
}

.direita{
    width: 300px;
    height: 100px;     
    background: orangered;
    position: absolute;
    top: 0px;
    left: 1180px;
}